.container
{
width:80%;
padding-left:120px;
}

#headerimg
{
background-image:url('/coffee/Images/beans.jpg');
width:100%;
}

.logoimg
{
margin-left:auto;
margin-right:auto;
display:block;
}

.headernav
{
text-align:center;
background-color:#210808;
font-size:20px;
color:White;
}

a
{
color:white;
}

p
{
font-family:"Georgia";
}

.col1
{
width:40%; 
float:left;
margin:20px 20px;
}

#footerarea
{
clear:both;
background-color:#210808;
height:100px;
text-align:center;
color:BurlyWood;
}


.coffeeimg
{
width:20%;
float:left;
padding:10px;
}

.beansp
{
float:left;
width:70%;
margin-left:10px;
}







