#container
{
width:90%;
margin-left:50px;
}

nav{
text-align:right;
}

a{
color:black;
text-decoration:none;
}

a:hover
{color:blue;}

#sidebar{
float:left;
width:30%;
margin:20px;
}

ul{
list-style-type:none;
}

#blogcontent{
float:left;
width:65%;
}

article{
font-size:15px;
}

.datep
{
font-size:13px;
font-weight:bold;
}

h2{
font-family:fantasy;
}


