#container
{
	width:100%;
	margin: auto;
}

body
{
	margin:auto;
	padding:0px;
	font-family: 'newfont';
}

@font-face 
{
    font-family: 'newfont';
    src:url('type/League-Gothic/LeagueGothic-CondensedRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


a
{
color:black;
text-decoration:none;
}

a:hover
{color:blue;}

#sidebar
{
float:left;
width:30%;
margin:20px;
}

#navul
{
list-style-type:none;
text-align:right;
}

#navul li
{
display: inline;
}

#blogcontent
{
float:left;
width:65%;
}

article
{
font-size:15px;
}

@media screen and (max-width:320px)
{
	article
	{
		background-color: green;
	}
}

.datep
{
font-size:13px;
font-weight:normal;
margin: 0px;
}

li
{
	margin: 5px 0px 5px 0px;
	padding:5px 0px 5px 0px;
	list-style-type: none;
}

h2
{
margin-top: 0px;
}

h1
{
	margin: 0px;
}
